;minimization

;Run control
integrator          = steep
dt                  = $dt
tinit               = 0
nsteps              = $nsteps
comm-mode           = Linear
nstcomm             = 10

;Langevin dynamics
bd-fric             = 0
ld-seed             = -1

;Energy minimization
emtol               = 10
emstep              = 0.01

;Output control
nstxout             = 100
nstvout             = 100
nstfout             = 100
nstlog              = 100
nstcalcenergy       = 10
nstenergy           = 100 

;Neighbor searching
cutoff-scheme       = Verlet
ns-type             = grid
pbc                 = xyz
periodic-molecules  = no

;Electrostatics
coulombtype         = PME
coulomb-modifier    = Potential-shift-Verlet
rcoulomb            = 1.2

;VdW
vdwtype             = Cut-off
vdw-modifier        = force-switch
rvdw                = 1.2
rvdw-switch         = 1.0
DispCorr            = no

;Bonds (for minimization)
constraint-algorithm    = LINCS
constraints             = none
continuation            = no
morse                   = no

;Implicit solvent
implicit-solvent    = no

;Pressure coupling
pcoupl              = no

;Velocity generation
gen-vel             = yes
