colvarsTrajFrequency    500
colvarsRestartFrequency 50000
indexFile               colvars.ndx

colvar {
    name RMSD
    rmsd {
        atoms {
            indexGroup $ligand_selection
        }
        refPositionsfile reference.xyz
    }
}

colvar {
    name                eulerTheta
    eulerTheta {
        atoms {
            indexGroup          $ligand_selection
            centerToReference   on
            rotateToReference   on
            centerToOrigin      on
            enableFitGradients  on
            fittingGroup {
                indexGroup $protein_selection
            }
            refPositionsfile reference.xyz
        }
        refPositionsfile reference.xyz
    }
}

colvar {
    name                eulerPhi
    eulerPhi {
        atoms {
            indexGroup          $ligand_selection
            centerToReference   on
            rotateToReference   on
            centerToOrigin      on
            enableFitGradients  on
            fittingGroup {
                indexGroup $protein_selection
            }
            refPositionsfile reference.xyz
        }
        refPositionsfile reference.xyz
    }
}

colvar {
    name                eulerPsi
    eulerPsi {
        atoms {
            indexGroup          $ligand_selection
            centerToReference   on
            rotateToReference   on
            centerToOrigin      on
            enableFitGradients  on
            fittingGroup {
                indexGroup $protein_selection
            }
            refPositionsfile reference.xyz
        }
        refPositionsfile reference.xyz
    }
}

colvar {
    name polarTheta
    polarTheta {
        atoms {
            indexGroup        $ligand_selection
            centerToReference on
            rotateToReference on
            centerToOrigin    on
            fittingGroup {
                indexGroup $protein_selection
            }
            refPositionsfile reference.xyz
        }
    }
}

colvar {
    name                    polarPhi
    polarPhi {
        atoms {
            indexGroup        $ligand_selection
            centerToReference on
            rotateToReference on
            centerToOrigin    on
            fittingGroup {
                indexGroup  $protein_selection
            }
            refPositionsFile reference.xyz
        }
    }
}

harmonic {
    colvars             polarPhi
    forceConstant       0.4184
    centers             006_pmf_argmin
}

harmonic {
    colvars             polarTheta
    forceConstant       0.4184
    centers             005_pmf_argmin
}

harmonic {
    colvars             eulerPsi
    forceConstant       0.4184
    centers             004_pmf_argmin
}

harmonic {
    colvars             eulerPhi
    forceConstant       0.4184
    centers             003_pmf_argmin
}

harmonic {
    colvars             eulerTheta
    forceConstant       0.4184
    centers             002_pmf_argmin
}

harmonic {
    colvars             RMSD
    forceConstant       4184
    centers             0
}

colvar {
    name translation
    distance {
        group1 {
            indexGroup $protein_selection
        }
        group2 {
            dummyAtom $protein_center
        }
    }
}

harmonic { 
    colvars         translation 
    centers         0.0 
    forceConstant   4184 
}

colvar {
    name orientation
    orientation {
        atoms {
            indexGroup $protein_selection
        }
        refPositionsfile reference.xyz
    }
}

harmonic { 
    colvars         orientation
    centers         (1.0, 0.0, 0.0, 0.0)
    forceConstant   836.8
}
